* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    background-color: rgb(193, 161, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: blanchedalmond;
}
h1, h2, p {
    text-align: center;

}
h1 {
    margin: 0;
    padding: 50px;
}
h2 {
    padding: 1em;
}
p {
    padding: 0 1em;
    margin-bottom: 1em;
}
a {
    color:rgb(106, 95, 95);
    font-size: 2rem;
    font-weight: 700;
    
}
a:hover{
    color: aqua;
}

img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0em;
    
}
.list-dots {
    margin: 0;
    padding-top: 1em;
    
}

li {
    padding-bottom: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 30ch;
    text-align: center;

}
li.title {
    padding: 1em;
    max-width: 70ch;
}
ol li {
    text-align: left;
}